<!--Michiel Dausy-->
<!--r0900099-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Supermarket project</title>
    <link rel="stylesheet" type="text/css" href="img/main.css" />
    <link rel="stylesheet" type="text/css" href="img/index.css" />
</head>

<body>

    <main>
        <h1 class="largerTitle">Cloud Storage Searcher</h1>

        <form action="search">
            <p>
                <label for="file">Type the name of a file: </label>
                <input type="text" name="file" id="file" class="input">
            </p>
            <p>
                <input type="submit" name="submit" value="Submit" id="button" class="button">
            </p>
        </form>
    </main>
</body>

</html>
